<html>
    <head>
        <title>mabani97</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- styles from https://www.w3schools.com/howto/howto_js_popup_form.asp-->
        <style>
            body {font-family: Arial, Roya, Helvetica, sans-serif;}
            * {box-sizing: border-box;}

            /* Add styles to the form container */
            .form-container {
                width: 50vw;
                margin-right : 25vw;
                padding: 10px;
                background-color: white;
            }
            
            /* Full-width input fields */
            .form-container input[type=text], .form-container input[type=password] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: 0px solid grey;
                border-radius: 5px;
                background: #f1f1f1;
            }
            
            /* When the inputs get focus, do something */
            .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }
            
            /* Set a style for the submit button */
            .btn {
                background-color: #e7e7e7;
                color: black;
                padding: 16px 20px;
                border: 1px solid grey;
                border-radius: 5px;
                cursor: pointer;
                width: 100%;
                margin-bottom:10px;
                opacity: 0.8;
            }
            
            /* Add some hover effects to buttons */
            .btn:hover{
                opacity: 1;
            }

            #BachIdResult {
                display: none;
                left: 50%;
                width: 50%;
                padding: 10px;
                margin-right: 25%;
                margin-bottom: 2%;
                border: 1px solid grey;
                border-radius: 5px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            /* loader effects for waitings*/
            .loader {
                border: 1vw solid #f3f3f3;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                border-top: 1vw solid #3498db;
                margin: 0 auto;
                width: 9vw;
                height: 9vw;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
            }

            @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }

            @font-face {
                font-family: 'Roya';
                src: url('font/Roya.eot?#') format('eot'),  
                    url('font/Roya.woff') format('woff'),
                    url('font/Roya.ttf') format('truetype');
                font-style:normal;
                font-weight:normal;
            }
        </style>
    </head>
    <body dir="rtl" onload="">
        <p><h1 style="text-align: center;">سامانه ثبت اطلاعات فارغ التحصیلان دانشگاه تبریز</h1></p>

        

        <div id="submitForm">
            <form class="form-container">
                <h1>ثبت اطلاعات</h1>
            
                <label for="BachId"><b>شماره دانشجویی</b></label>
                <input type="text" placeholder="شماره دانشجویی خود را وارد کنید..." id="BachId" name="BachId" required>

                <a href="/searchByName" target="blank">
                <button type="button" style="width: 30%; margin: -10px 70% 10px 0%; padding: 5px 5px;" id="BachIdForg" class="btn">
                فراموشی شماره دانشجویی</button></a>
            
                <label for="CodeMelli"><b>کد ملی</b></label>
                <input type="text" placeholder="کد ملی خود را وارد کنید..." id="CodeMelli" name="CodeMelli" required>

                <label for="BachName"><b>نام</b></label>
                <input type="text" placeholder="" id="BachName" name="BachName" required>
            
                <label for="BachLname"><b>نام خانوادگی</b></label>
                <input type="text" placeholder="" id="BachLname" name="BachLname" required>

                <label for="email"><b>ایمیل</b></label>
                <input type="text" placeholder="emailaddrees@example.com" id="email" name="email" required>

                <label for="TelNum"><b>شماره تلفن</b></label>
                <input type="text" placeholder="09141234567" id="TelNum" name="TelNum" required>

                <label for="Bio"><b>Bio</b></label><br>
                <textarea style="width: 100%; border: 1px solid grey; border-radius: 5px;" type="text" placeholder="" rows="5" id="Bio" name="Bio"></textarea>

<!--
                <div style="margin-top: 10vh; border: 1px solid grey; border-radius: 5px; padding: 10px;">
                    <label for="degreesForm"><b>مدارک تحصیلی</b></label>
                    <div style="margin-top: 5vh;" id="degreesForm" name="degreesForm">

                    </div>
                    <input type="button" style="width: 50%; margin: 10px 25% 10px 25%;" onclick="newDegree()" id="newDegBtn" value="اضافه کردن مدرک تحصیلی" class="btn"/>   
                </div>
                -->
                <input type="button" style="margin-top: 10vh;" onclick="submitUserClicked()" id="submitBtn" value="ثبت" class="btn"/>
            </form>    
        </div>
        <hr>





        <div id="searchForm">
            <form style="width: 75vw; margin: auto;" class="form-container">
                <h1>جستجوی اطلاعات</h1>
                <div style="margin-top: 10vh; border: 1px solid grey; border-radius: 5px; padding: 15px;">
                    <input type="text" placeholder="شماره دانشجویی" id="SearchBachId" style="width: 70%; margin-right: 15px;">
                    <input type="button"  onclick="searchConfirmedUserById()" id="submitBtn" value="جستجو بر اساس شماره دانشجویی" class="btn pull-left" style="width: 25%; left = 0px;"/>
                    <a href="/searchByName" target="blank">
                <button type="button" style="width: 30%; margin: -10px 70% 10px 0%; padding: 5px 5px;" id="BachIdForg" class="btn">
                جستجو بر اساس نام و نام خانوادگی</button></a>
                    <div id="BachIdResult">
                </div>
                
            </form>    
        </div>
            

        <div style="width: 75vw; margin: auto; padding: 15px; margin-bottom: 300px;" class="form-container">
            <div style="margin-top: 10vh; border: 1px solid grey; border-radius: 5px;">
                <input type="text" placeholder="جسنجو در بیو" id="SearchBio" style="width: 70%; margin-right: 15px;">
                <input type="button" onclick="searchConfirmedUserByBio()" id="submitBtn" value="جستجو بر اساس اطلاعات" class="btn pull-left" style="width: 25%; left = 0px;"/>
                <p>رشته
                <select style="margin-left: 20px;" id="SearchDegreeName">
                    <option value="0">مهم نیست</option>
                <% locals.options.forEach(function(option) { %>
                    <option value="<%- option %>"><%- option %></option>
                <% }); %>
                </select>
                سال فارغ التحصیلی 
                <input type="text" placeholder="97" id="SearchSalEtmam" style="width: 100px; text-align: center;">
                </p>
                <div id="BioResult" style="display: none; left: 50%; width: 50%; margin-right: 25%; margin-bottom: 2%; border: 1px solid grey; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                
            </div>
        </div>


            <div id="loaderIco" style="display:none; position: fixed;" class="loader"></div>
        <script>
            function openForm() {
                document.getElementById("submitForm").style.display = "block";
            }
            
            function closeForm() {
                document.getElementById("submitForm").style.display = "none";
            }

            function submitUserClicked() {
                document.getElementById("submitBtn").onclick="";
                var DataComp = 1;
                var TBachId = document.getElementById("BachId").value,
                    TCodeMelli = document.getElementById("CodeMelli").value,
                    TBachName = document.getElementById("BachName").value,
                    TBachLname = document.getElementById("BachLname").value,
                    Temail = document.getElementById("email").value,
                    TTelNum = document.getElementById("TelNum").value,
                    TBio = document.getElementById("Bio").value;
                var Degs = [];
                if(TBachId == "") { DataComp = 0; }
                if(TCodeMelli == "") { DataComp = 0; }
                if(TBachName == "") { DataComp = 0; }
                if(TBachLname == "") { DataComp = 0; }
                if(Temail == "") { DataComp = 0; }
                if(TTelNum == "") { DataComp = 0; }
                //if(DegreeCount==0) { DataComp = 0; }
                /*
                for(var i=0; i < DegreeCount && DataComp==1; i++)
                {
                    if(document.getElementById("degreeName"+i).value == "" || document.getElementById("SalEtmam"+i).value == "")
                    {
                        DataComp=0
                    }
                    else
                    {
                        Degs.push({
                            DegreeName : document.getElementById("degreeName"+i).value,
                            SalEtmam : document.getElementById("SalEtmam"+i).value,
                            Description : document.getElementById("DegDescription"+i).value
                        });
                    }
                }
                */
                if(DataComp==1)
                {
                    var xp = new XMLHttpRequest();
                    document.getElementById("submitBtn").onclick = "";
                    document.getElementById("submitBtn").value = "لطفا کمی صبر کنید...";
                    xp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            var Resp = JSON.parse(this.responseText);
                            document.getElementById("submitBtn").value = Resp.message;
                            alert(Resp.message);
                        }
                    };
                    xp.open("POST", "/submitUser");
                    xp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xp.send("Data="+JSON.stringify({ 
                        BachId : TBachId,
                        CodeMelli : TCodeMelli,
                        BachName : TBachName,
                        BachLname : TBachLname,
                        email : Temail,
                        TelNum : TTelNum,
                        Bio : TBio/*,
                        Degrees : Degs,
                        DegreesCount : DegreeCount*/
                     }));
                }
                else
                {
                    document.getElementById("submitBtn").onclick="submitUserClicked()";
                    alert("لطفا اطلاعات را به طور کامل وارد کنید!!!");
                }

            }

            function newDegree() {
                var xp = new XMLHttpRequest();
                xp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var temp = document.getElementById("degreesForm").innerHTML;
                        document.getElementById("degreesForm").innerHTML = temp + this.responseText;
                        DegreeCount++;
                    }
                };
                xp.open("POST", "/degree");
                xp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xp.send("Data="+JSON.stringify({ id: DegreeCount }));
            }

            function searchConfirmedUserById()
            {
                document.getElementById("loaderIco").style.display = "block";
                document.getElementById("BachIdResult").style.display = "none";
                var SBachId = document.getElementById("SearchBachId").value;
                if(SBachId != "")
                {
                    var xp = new XMLHttpRequest();
                    xp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            document.getElementById("loaderIco").style.display = "none";
                            document.getElementById("BachIdResult").innerHTML = this.responseText;
                            document.getElementById("BachIdResult").style.display = "block";
                        }
                    };
                    xp.open("POST", "/searchUserById");
                    xp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xp.send("Data="+JSON.stringify({ id: SBachId }));
                }
                else
                {
                    document.getElementById("loaderIco").style.display = "none";
                    document.getElementById("BachIdResult").style.display = "block";
                    alert("لطفا اطلاعات را به طور کامل وارد کنید!!!");
                }
            }

            function searchConfirmedUserByBio()
            {
                document.getElementById("loaderIco").style.display = "block";
                document.getElementById("BioResult").style.display = "none";
                var WBio = document.getElementById("SearchBio").value;
                var xp = new XMLHttpRequest();
                xp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("loaderIco").style.display = "none";
                        document.getElementById("BioResult").innerHTML = this.responseText;
                        document.getElementById("BioResult").style.display = "block";
                    }
                };
                xp.open("POST", "/searchUserByBio");
                xp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xp.send("Data="+JSON.stringify({ word: WBio , DegreeName: document.getElementById("SearchDegreeName").value , SalEtmam: document.getElementById("SearchSalEtmam").value }));
            }
        </script>
    </body>
</html>