<html>
    <head>
        <title>mabani97 by MahdiNaji</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- styles from https://www.w3schools.com/howto/howto_js_popup_form.asp-->
        <style>
            body {font-family: Arial, Roya, Helvetica, sans-serif;
                margin: 0; 
                background-image:
                radial-gradient(
                circle at center left,
                #13263a,
                #cce5ff 200%
                );
            }
            * { box-sizing: border-box;}

            /* Add styles to the form container */
            .form-container {
                width: 50vw;
                margin-right : 25vw;
                padding: 10px;
            }

            a {
                color: #000;
                text-decoration: none;
            } 
            
            .shadow{
                padding: 15px;
                border-radius: 8px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            .rightGradient
            {
                background-image:
                radial-gradient(
                circle at top right,
                #19334d,
                #b3d9ff 400%
                );
            }

            @media screen and (min-width: 601px) {
                .form-container {
                    width: 50vw;
                    margin-right : 25vw;
                }
                .searchFormStyle {
                    width: 75vw;
                    margin: auto;
                }
                #mainHeader {
                    font-size: 50px;
                    margin-top: auto;
                }
            }

            @media screen and (max-width: 600px) {
                .form-container {
                    width: 90vw;
                    margin: auto;
                }
                .searchFormStyle {
                    width: 90%;
                    margin: auto;
                }

                #mainHeader {
                    font-size: 12vw;
                    margin-top: 11vh;
                }
            }

            @media screen and (min-width: 1001px) {
                #linkbtn {
                    display:block;
                }
            }

            @media screen and (max-width: 1000px) {
                #linkbtn {
                    display:none;
                }
            }
            
            /* Full-width input fields */
            .form-container input[type=text], .form-container input[type=password] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: 0px solid grey;
                border-radius: 5px;
                background: #f1f1f1;
            }
            
            /* When the inputs get focus, do something */
            .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                background-color: #ddd;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            h1 {
                text-shadow: 1px 1px 2px white;
            }

            span {
                font-family: Roya;
                font-size: 20px;
            }

            .SpanShadow 
            {
                opacity: 0.8;
                line-height: 1;
                padding: 0;
                text-shadow: -.6px -.5px .7px #fff;
            }

            #footer {
                text-align: center;
                padding-top: 100px;
                width:100%;
                height: auto;
                left:0px;
                margin-top: 20px;
                background-color: #13263a;
                outline: none;
            }
            
            select {
                height: 22px;
                border: 0px;
                background-color: #f1f1f1;
            }
            
            /* Set a style for the submit button */
            .btn {
                background-color: #f2f2f2;
                color: black;
                padding: 16px 20px;
                border: 1px solid grey;
                border-radius: 5px;
                cursor: pointer;
                width: 100%;
                margin-bottom:10px;
                opacity: 0.8;
            }
            
            /* Add some hover effects to buttons */
            .btn:hover{
                opacity: 1;
            }

            #BachIdResult {
                display: none;
                left: 50%;
                width: 50%;
                padding: 10px;
                margin-right: 25%;
                margin-bottom: 2%;
                border: 1px solid grey;
            }

            #splash {
                display: block;
                margin: auto;
                margin-top: 10vh;
                width: 80%;
                height: 80%;
                border: 1px solid grey;
                border-radius: 5px;
                padding: 10px;
                
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            /* loader effects for waitings*/
            .loader {
                border: 1vw solid #f3f3f3;
                border-radius: 50%;
                float: none;
                border-top: 1vw solid #3498db;
                margin: 0 auto;
                width: 9vw;
                height: 9vw;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
                left: 50%;
                top: 50%;
            }

            @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }

            @font-face {
                font-family: 'Roya';
                src: url('font/Roya.eot?#') format('eot'),  
                    url('font/Roya.woff') format('woff'),
                    url('font/Roya.ttf') format('truetype');
                font-style:normal;
                font-weight:normal;
            }
        </style>
    </head>
    <body dir="rtl" onload="">

        <div style="width: 100%; height: 100%; margin-bottom: 30px;">
        <div id="splash" class="rightGradient">
        <p><h1 id="mainHeader" style="text-align: center; font-family: Roya;">سامانه ثبت اطلاعات فارغ التحصیلان دانشگاه تبریز</h1></p>
        <p id="linkbtn">

            <button style="width: 80%; margin: 0 10%; font-family: Roya; font-size: 20px;" class="btn" onclick="document.getElementById('searchForm').scrollIntoView({behavior: 'smooth'})">
                برای جستجوی دوستان یا همکاران خود و مشاهده راه های ارتباطی با آن ها میتوانید آن ها را جستجو کنید<br>
                بر اساس نام و شماره دانشجویی آن ها یا بر اساس مدرک دانشگاهی آنها<br>
            </button>

            <button style="width: 80%; margin: 10px 10%; font-family: Roya; font-size: 20px;" class="btn" onclick="document.getElementById('submitForm').scrollIntoView({behavior: 'smooth'})">
            آیا دانشجو هستید؟؟؟<br>
            با ارائه کد ملی و شماره دانشجویی میتوانید اطلاعات خود را تغییر دهید<br>
            در صورت فراموشی کد دانشجویی میتوانید با وارد کردن نام خود کد دانشجویی تان را در اختیار بگیرید<br>
            برای شروع کلیک کنید</button>

        </p>
        </div>
        </div>

        

        <div id="submitForm">
            <form class="form-container">
                <h1 style="font-family: Roya;font-size: 50px;">ثبت اطلاعات</h1>
            
                <label for="BachId"><b>شماره دانشجویی</b></label>
                <input type="text" placeholder="شماره دانشجویی خود را وارد کنید..." id="BachId" name="BachId" required>

                <a href="/searchByName" target="blank">
                <button type="button" style="width: 30%; margin: -10px 70% 10px 0%; padding: 5px 5px;" id="BachIdForg" class="btn">
                فراموشی شماره دانشجویی</button></a>
            
                <label for="CodeMelli"><b>کد ملی</b></label>
                <input type="text" placeholder="کد ملی خود را وارد کنید..." id="CodeMelli" name="CodeMelli" required>

                <label for="BachName"><b>نام</b></label>
                <input type="text" placeholder="" id="BachName" name="BachName" required>
            
                <label for="BachLname"><b>نام خانوادگی</b></label>
                <input type="text" placeholder="" id="BachLname" name="BachLname" required>

                <label for="email"><b>ایمیل</b></label>
                <input type="text" placeholder="emailaddrees@example.com" id="email" name="email" required>

                <label for="TelNum"><b>شماره تلفن</b></label>
                <input type="text" placeholder="09141234567" id="TelNum" name="TelNum" required>

                <label for="Bio"><b>Bio</b></label><br>
                <textarea style="width: 100%; border: 1px solid grey; border-radius: 5px; background: #f1f1f1; font-family: Roya; font-size: 25px; padding:10px;" type="text" placeholder="" rows="5" id="Bio" name="Bio"></textarea>
                <input type="button" style="margin-top: 10vh;" onclick="submitUserClicked()" id="submitBtn" value="ثبت" class="btn"/>
            </form>    
        </div>
        <hr>





        <div id="searchForm" class="searchFormStyle">
            <form style="width: 100%; margin: auto;" class="form-container">
                <h1 style="font-family: Roya;font-size: 50px;">جستجوی اطلاعات</h1>
                
                <div style="margin-top: 10vh; border: 1px solid grey; border-radius: 5px; padding: 15px;" class="shadow rightGradient" >
                    <input type="text" placeholder="شماره دانشجویی" id="SearchBachId" style="width: 70%; margin-right: 15px;">
                    <input type="button"  onclick="searchConfirmedUserById()" id="submitBtn" value="جستجو بر اساس شماره دانشجویی" class="btn pull-left" style="width: 25%; left = 0px;"/>
                    <a href="/searchByName" target="blank">
                <button type="button" style="width: 30%; margin: -10px 70% 10px 0%; padding: 5px 5px;" id="BachIdForg" class="btn">
                جستجو بر اساس نام و نام خانوادگی</button></a>
                    <div id="BachIdResult" class="shadow"></div>
                </div>
                
            </form>    
        </div>
        

        <div class="searchFormStyle">
            <div style="width: 100%; margin: auto; padding: 15px; margin-bottom: 300px;" class="form-container">
                <div style="margin-top: 10vh; border: 1px solid grey; border-radius: 5px;" class="shadow rightGradient">
                    <input type="text" placeholder="جسنجو در بیو" id="SearchBio" style="width: 70%; margin-right: 15px;">
                    <input type="button" onclick="searchConfirmedUserByBio()" id="submitBtn" value="جستجو بر اساس اطلاعات" class="btn pull-left" style="width: 25%; left = 0px;"/>
                    <p>

                    <span style="margin-right: 10px;"> مدرک </span>
                    <select style="margin-left: 20px;" id="SearchDegreeBranch" onchange="SearchDegreeBranchChanged();">
                        <option value="-1">مهم نیست</option>
                    <% locals.Branches.forEach(function(Branch) { %>
                        <option value="<%- Branch['index'] %>"><%- Branch['BranchName'] %></option>
                    <% }); %>
                    </select>

                    <span style="margin-right: 10px;"> مقطع </span>
                    <select style="margin-left: 20px;" id="SearchDegreeRank" onchange="SearchDegreeRankChanged();">
                        <option value="-1">---------</option>
                    </select>

                    <span style="margin-right: 10px;"> گرایش </span>
                    <select style="margin-left: 20px;" id="SearchDegreeOri">
                        <option value="-1">مهم نیست</option>
                    </select>
                    </p>
                    <p>
                    <span style="margin-right: 10px;"> سال فارغ التحصیلی از  </span>
                    
                    <input type="text" placeholder="20" id="SearchSalEtmamFirst" style="width: 75px; height: 25px; text-align: center;">
                    
                    <span style="margin-right: 10px; margin-left: 10px;"> تا  </span>

                    <input type="text" placeholder="98" id="SearchSalEtmamLast" style="width: 75px; height: 25px; text-align: center;">
                    </p>
                    <div id="BioResult" style="display: none; left: 50%; width: 50%; margin-right: 25%; margin-bottom: 2%; border: 1px solid grey; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    </div>
                </div>
            </div>
        </div>

                <div id="loaderIco" style="display:none; position: fixed;" class="loader"></div>
        
        <div id="footer" style="height: 150px;">
            <a href="http://github.com/mahdinajiga/mabani97"><span style="font-size: 28px;" class="SpanShadow">Mahdi Naji</span></a>
        </div>



        <script>
            var RawBranchs = '<%- BranchStr %>';
            var Branchs = JSON.parse(RawBranchs);

            function SearchDegreeBranchChanged()
            {
                var BranchNum = Number(document.getElementById("SearchDegreeBranch").value);
                if (BranchNum != -1)
                {
                    var RankSelect = document.getElementById("SearchDegreeRank"), i=0;

                    var length = RankSelect.options.length;
                    for (i = 0; i < length; i++) {
                        RankSelect.options[i] = null;
                    }
                    for(i=0; i<Branchs[BranchNum].Ranks.length; i++)
                    {
                        var option = document.createElement("option");
                        option.text = Branchs[BranchNum].Ranks[i].RankName;
                        option.value = Branchs[BranchNum].Ranks[i].index;
                        if(i>=length)
                        {
                            RankSelect.add(option);
                        }
                        else
                        {
                            RankSelect.options[i] = option;
                        }
                    }
                    for (; i < length; i++) {
                        RankSelect.options[i] = null;
                    }
                    SearchDegreeRankChanged();
                }
            }

            function SearchDegreeRankChanged()
            {
                var BranchNum = Number(document.getElementById("SearchDegreeBranch").value);
                if (BranchNum != -1)
                {
                    var RankNum = Number(document.getElementById("SearchDegreeRank").value);
                    if (RankNum != -1)
                    {
                        var OriSelect = document.getElementById("SearchDegreeOri"), i=0;

                        var length = OriSelect.options.length;
                        for (i = 0; i < length; i++) {
                            OriSelect.options[i] = null;
                        }
                        var option = document.createElement("option");
                        option.text = "مهم نیست";
                        option.value = "-1";
                        OriSelect.add(option);
                        for(i=0; i<Branchs[BranchNum].Ranks[RankNum].Orientations.length; i++)
                        {
                            var option = document.createElement("option");
                            option.text = Branchs[BranchNum].Ranks[RankNum].Orientations[i].OriName;
                            option.value = Branchs[BranchNum].Ranks[RankNum].Orientations[i].index;
                            if(i>=length)
                            {
                                OriSelect.add(option);
                            }
                            else
                            {
                                OriSelect.options[i] = option;
                            }
                        }
                        for (; i < length; i++) {
                            OriSelect.options[i] = null;
                        }
                    }
                }
            }

            function submitUserClicked() {
                document.getElementById("submitBtn").onclick="";
                var DataComp = 1;
                var TBachId = document.getElementById("BachId").value,
                    TCodeMelli = document.getElementById("CodeMelli").value,
                    TBachName = document.getElementById("BachName").value,
                    TBachLname = document.getElementById("BachLname").value,
                    Temail = document.getElementById("email").value,
                    TTelNum = document.getElementById("TelNum").value,
                    TBio = document.getElementById("Bio").value;
                var Degs = [];
                if(TBachId == "") { DataComp = 0; }
                if(TCodeMelli == "") { DataComp = 0; }
                if(TBachName == "") { DataComp = 0; }
                if(TBachLname == "") { DataComp = 0; }
                if(Temail == "") { DataComp = 0; }
                if(TTelNum == "") { DataComp = 0; }
                //if(DegreeCount==0) { DataComp = 0; }
                /*
                for(var i=0; i < DegreeCount && DataComp==1; i++)
                {
                    if(document.getElementById("degreeName"+i).value == "" || document.getElementById("SalEtmam"+i).value == "")
                    {
                        DataComp=0
                    }
                    else
                    {
                        Degs.push({
                            DegreeName : document.getElementById("degreeName"+i).value,
                            SalEtmam : document.getElementById("SalEtmam"+i).value,
                            Description : document.getElementById("DegDescription"+i).value
                        });
                    }
                }
                */
                if(DataComp==1)
                {
                    var xp = new XMLHttpRequest();
                    document.getElementById("submitBtn").onclick = "";
                    document.getElementById("submitBtn").value = "لطفا کمی صبر کنید...";
                    xp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            var Resp = JSON.parse(this.responseText);
                            if(Resp.code==401)
                            {
                                if(confirm("اطلاعات شما قبلا ثبت شده، آیا میخواهید ادامه دهید؟؟؟"))
                                {
                                    submitUserClicked(1);
                                }
                            }
                            else
                            {
                                document.getElementById("submitBtn").value = Resp.message;
                                alert(Resp.message);
                            }
                        }
                    };
                    xp.open("POST", "/submitUser");
                    xp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    var ov = 0;
                    if(arguments[0])
                    {
                        ov=arguments[0];
                    }
                    xp.send("Data="+JSON.stringify({
                        Override:ov,
                        Bach:{ 
                        BachId : TBachId,
                        CodeMelli : TCodeMelli,
                        BachName : TBachName,
                        BachLname : TBachLname,
                        email : Temail,
                        TelNum : TTelNum,
                        Bio : TBio/*,
                        Degrees : Degs,
                        DegreesCount : DegreeCount*/}
                     }));
                }
                else
                {
                    document.getElementById("submitBtn").onclick="submitUserClicked()";
                    alert("لطفا اطلاعات را به طور کامل وارد کنید!!!");
                }

            }

            function searchConfirmedUserById()
            {
                document.getElementById("loaderIco").style.display = "block";
                document.getElementById("BachIdResult").style.display = "none";
                var SBachId = document.getElementById("SearchBachId").value;
                if(SBachId != "")
                {
                    var xp = new XMLHttpRequest();
                    xp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            document.getElementById("loaderIco").style.display = "none";
                            document.getElementById("BachIdResult").innerHTML = this.responseText;
                            document.getElementById("BachIdResult").style.display = "block";
                        }
                    };
                    xp.open("POST", "/searchUserById");
                    xp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xp.send("Data="+JSON.stringify({ id: SBachId }));
                }
                else
                {
                    document.getElementById("loaderIco").style.display = "none";
                    document.getElementById("BachIdResult").style.display = "block";
                    alert("لطفا اطلاعات را به طور کامل وارد کنید!!!");
                }
            }

            function searchConfirmedUserByBio()
            {
                document.getElementById("loaderIco").style.display = "block";
                document.getElementById("BioResult").style.display = "none";
                var WBio = document.getElementById("SearchBio").value;
                var xp = new XMLHttpRequest();
                xp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("loaderIco").style.display = "none";
                        document.getElementById("BioResult").innerHTML = this.responseText;
                        document.getElementById("BioResult").style.display = "block";
                    }
                };
                xp.open("POST", "/searchUserByBio");
                xp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                
                var Brnch = Number(document.getElementById("SearchDegreeBranch").value),
                    Rnk = Number(document.getElementById("SearchDegreeRank").value),
                    Orie = Number(document.getElementById("SearchDegreeOri").value);
                var SEFirst = Number(document.getElementById("SearchSalEtmamFirst").value),
                    SELast = Number(document.getElementById("SearchSalEtmamLast").value);
                xp.send("Data="+JSON.stringify({
                     word: WBio , Branch: Brnch , Rank: Rnk , Ori: Orie,
                     SalEtmamFirst: SEFirst, SalEtmamLast: SELast
                     }));
            }
        </script>
    </body>
</html>