<html>
    <head>
        <title>mabani97</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- styles from https://www.w3schools.com/howto/howto_js_popup_form.asp-->
        <style>
            body {font-family: Arial, Helvetica, sans-serif;
                background-image:
                radial-gradient(
                circle at center left,
                #13263a,
                #b3d9ff 140%
                );
            }
            * {box-sizing: border-box;}

            /* Add styles to the form container */
            .form-container {
                width: 50vw;
                margin-right : 25vw;
                padding: 10px;
            }

            .shadow{
                padding: 15px;
                border-radius: 8px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            .rightGradient
            {
                background-image:
                radial-gradient(
                circle at top right,
                #19334d,
                #b3d9ff 400%
                );
            }

            @media screen and (min-width: 601px) {
                .form-container {
                    width: 50vw;
                    margin-right : 25vw;
                }
                .searchFormStyle {
                    width: 75vw;
                    margin: auto;
                }
            }

            @media screen and (max-width: 600px) {
                .form-container {
                    width: 90vw;
                    margin: auto;
                }
                .searchFormStyle {
                    width: 90%;
                    margin: auto;
                }
            }
            
            /* Full-width input fields */
            .form-container input[type=text], .form-container input[type=password] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: 0px solid grey;
                border-radius: 5px;
                background: #f1f1f1;
            }
            
            /* When the inputs get focus, do something */
            .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                background-color: #ddd;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            h1 {
                text-shadow: 1px 1px 2px white;
            }
            
            /* Set a style for the submit button */
            .btn {
                background-color: #e7e7e7;
                color: black;
                padding: 16px 20px;
                border: 1px solid grey;
                border-radius: 5px;
                cursor: pointer;
                width: 100%;
                margin-bottom:10px;
                opacity: 0.8;
            }
            
            /* Add some hover effects to buttons */
            .btn:hover{
                opacity: 1;
            }

            @font-face {
                font-family: 'Roya';
                src: url('font/Roya.eot?#') format('eot'),  
                    url('font/Roya.woff') format('woff'),
                    url('font/Roya.ttf') format('truetype');
                font-style:normal;
                font-weight:normal;
            }
        </style>
    </head>
    <body dir="rtl" onload="">
        <p><h1 style="text-align: center; font-family: Roya; font-size: 50px;">سامانه ثبت اطلاعات فارغ التحصیلان دانشگاه تبریز (نسخه دانشگاهی)</h1></p>

        

        <div id="submitForm">
            <form class="form-container">
                <h1>ثبت اطلاعات</h1>
            
                <label for="BachId"><b>شماره دانشجویی</b></label>
                <input type="text" placeholder="شماره دانشجویی خود را وارد کنید..." id="BachId" name="BachId" required>
            
                <label for="CodeMelli"><b>کد ملی</b></label>
                <input type="text" placeholder="کد ملی خود را وارد کنید..." id="CodeMelli" name="CodeMelli" required>

                <label for="BachName"><b>نام</b></label>
                <input type="text" placeholder="" id="BachName" name="BachName" required>
            
                <label for="BachLname"><b>نام خانوادگی</b></label>
                <input type="text" placeholder="" id="BachLname" name="BachLname" required>

                <div style="margin-top: 10vh; border: 1px solid grey; border-radius: 5px; padding: 10px;">
                    <label for="degreesForm"><b>مدارک تحصیلی</b></label>
                    <div style="margin-top: 5vh;" id="degreesForm" name="degreesForm">

                    </div>
                    <input type="button" style="width: 50%; margin: 10px 25% 10px 25%;" onclick="newDegree()" id="newDegBtn" value="اضافه کردن مدرک تحصیلی" class="btn"/>   
                </div>
                <input type="button" style="margin-top: 15vh;" onclick="submitUserClicked()" id="submitBtn" value="ثبت" class="btn"/>
            </form>    
        </div>
        <hr>
        <div class="form-container">
            <h1>ایجاد مدرک جدید</h1>
            <label for="NewBranchName"><b>نام رشته</b></label>
            <input type="text" placeholder="" id="NewBranchName" name="NewBranchName" required>
            
            <div style="margin-top: 10vh; border: 1px solid grey; border-radius: 5px; padding: 10px;">
                <label for="NewBranchRanks"><h2>مقاطع</h2></label>
                <div style="margin-top: 5vh;" id="NewBranchRanks" name="NewBranchRanks">

                <div>
                    <label for="NewBranchRankName0"><h4>نام مقطع</h4></label>
                    <input type="text" placeholder="" id="NewBranchRankName0" name="NewBranchRankName0" required>

                    <div style="margin-top: 10vh; border: 1px solid grey; border-radius: 5px; padding: 10px;">
                        <label for="NewBranchOri0"><h2>گرایش ها</h2></label>
                        <div style="margin-top: 5vh;" id="NewBranchOri0" name="NewBranchOri0">
                            
                            <label for="NewBranchOriName00"><h4>نام گرایش</h4></label>
                            <input type="text" placeholder="" id="NewBranchOriName00" name="NewBranchOriName00" required>

                        </div>
                        <input type="button" style="width: 30%; height: 8%; margin: 10px 35% 10px 35%;" onclick="newOri('0')" id="newOriBtn" value="اضافه کردن گرایش جدید" class="btn"/>   
                    </div>
                </div>

                </div>
                <input type="button" style="width: 50%; margin: 10px 25% 10px 25%;" onclick="newRank()" id="newRankBtn" value="اضافه کردن مقطع جدید" class="btn"/>   
            </div>

            <input type="button" style="margin-top: 15vh;" onclick="submitBranchClicked()" id="submitBranchBtn" value="ایجاد مدرک جدید" class="btn"/>

        </div>
        <hr>


        <div class="form-container">
            <h1>حذف مدارک قبلی</h1>
            <label for="DegreeBranchEdit"><b>نام رشته</b></label>
            <select style="margin-left: 20px;" id="DegreeBranchEdit" onchange="DegreeBranchEditEvent()">
            <% locals.Branches.forEach(function(Branch) { %>
                <option value="<%- Branch['index'] %>"><%- Branch['BranchName'] %></option>
            <% }); %>
            </select>
            <input type="button" style="margin-top: 15vh;" onclick="submitDelBranchClicked()" id="submitDelBranchBtn" value="حذف مدرک" class="btn"/>

        </div>
        
        <script>
            var RawBranchs = '<%- BranchStr %>';
            var Branchs = JSON.parse(RawBranchs);
            var DegreeCount = 0, RanksCount = 1, OriCount = [1,0];

            function submitUserClicked() {
                document.getElementById("submitBtn").onclick="";
                var DataComp = 1;
                var TBachId = document.getElementById("BachId").value,
                    TCodeMelli = document.getElementById("CodeMelli").value,
                    TBachName = document.getElementById("BachName").value,
                    TBachLname = document.getElementById("BachLname").value;
                var Degs = [];
                if(TBachId == "") { DataComp = 0; }
                if(TCodeMelli == "") { DataComp = 0; }
                if(TBachName == "") { TBachName = "نام وارد نشده"; }
                if(TBachLname == "") { TBachLname = "نام خانوادگی وارد نشده"; }
                for(var i=0; i < DegreeCount && DataComp==1; i++)
                {
                    if(document.getElementById("SalEtmam"+i).value == null || Number(document.getElementById("SalEtmam"+i).value)==0)
                    {
                        DataComp=0
                    }
                    else
                    {
                        Degs.push({
                            Branch : Number(document.getElementById("DegreeBranch"+i).value),
                            Rank : Number(document.getElementById("DegreeRank"+i).value),
                            Ori : Number(document.getElementById("DegreeOri"+i).value),
                            SalEtmam : Number(document.getElementById("SalEtmam"+i).value),
                            Description : document.getElementById("DegDescription"+i).value
                        });
                    }
                }
                if(DataComp==1)
                {
                    var xp = new XMLHttpRequest();
                    document.getElementById("submitBtn").onclick = "";
                    document.getElementById("submitBtn").value = "لطفا کمی صبر کنید...";
                    xp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            var Resp = JSON.parse(this.responseText);
                            document.getElementById("submitBtn").value = Resp.message;
                            alert(Resp.message);
                            window.location.replace("/uni?reqid=748");
                        }
                    };
                    xp.open("POST", "/confirmUser");
                    xp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xp.send("Data="+JSON.stringify({ 
                        BachId : TBachId,
                        CodeMelli : TCodeMelli,
                        BachName : TBachName,
                        BachLname : TBachLname,
                        Degrees : Degs,
                        DegreesCount : DegreeCount
                     }));
                }
                else
                {
                    document.getElementById("submitBtn").onclick="submitUserClicked();";
                    alert("لطفا اطلاعات را به طور کامل وارد کنید!!!");
                }

            }

            function DegreeBranchEvent()
            {
                var BranchNum = Number(document.getElementById("DegreeBranch" + arguments[0]).value);
                if (BranchNum != -1)
                {
                    var RankSelect = document.getElementById("DegreeRank" + arguments[0]), i=0;
                    var length = RankSelect.options.length;
                    for (i = 0; i < length; i++) {
                        RankSelect.options[i] = null;
                    }
                    for(i=0; i<Branchs[BranchNum].Ranks.length; i++)
                    {
                        var option = document.createElement("option");
                        option.text = Branchs[BranchNum].Ranks[i].RankName;
                        option.value = Branchs[BranchNum].Ranks[i].index;
                        if(i>=length)
                        {
                            RankSelect.add(option);
                        }
                        else
                        {
                            RankSelect.options[i] = option;
                        }
                        RankSelect.value = Branchs[BranchNum].Ranks[i].index;
                    }
                    for (; i < length; i++) {
                        RankSelect.options[i] = null;
                    }
                    DegreeOriEvent(arguments[0]);
                }
            }

            function DegreeOriEvent()
            {
                var BranchNum = Number(document.getElementById("DegreeBranch" + arguments[0]).value);
                if (BranchNum != -1)
                {
                    var RankNum = Number(document.getElementById("DegreeRank" + arguments[0]).value);
                    if (RankNum != -1)
                    {
                        var OriSelect = document.getElementById("DegreeOri" + arguments[0]), i=0;
                        var length = OriSelect.options.length;
                        for (i = 0; i < length; i++) {
                            OriSelect.options[i] = null;
                        }
                        for(i=0; i<Branchs[BranchNum].Ranks[RankNum].Orientations.length; i++)
                        {
                            var option = document.createElement("option");
                            option.text = Branchs[BranchNum].Ranks[RankNum].Orientations[i].OriName;
                            option.value = Branchs[BranchNum].Ranks[RankNum].Orientations[i].index;
                            if(i>=length)
                            {
                                OriSelect.add(option);
                            }
                            else
                            {
                                OriSelect.options[i] = option;
                            }
                        }
                        for (; i < length; i++) {
                            OriSelect.options[i] = null;
                        }
                    }
                }
            }

            function newDegree() {
                var xp = new XMLHttpRequest();
                xp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var div = document.createElement('div');
                        div.innerHTML = this.responseText;
                        document.getElementById("degreesForm").appendChild(div);/*
                        document.getElementById("DegreeBranch" + DegreeCount).onchange = "DegreeBranchEvent(" + DegreeCount + ");";
                        document.getElementById("DegreeOri" + DegreeCount).onchange = "DegreeOriEvent(" + DegreeCount + ");";*/
                        DegreeBranchEvent(DegreeCount);
                        DegreeCount++;
                    }
                };
                xp.open("POST", "/degree");
                xp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xp.send("Data="+JSON.stringify({ id: DegreeCount }));
            }

            function newRank() {
                var div = document.createElement('div');
                div.innerHTML = `<label for="NewBranchRankName` + RanksCount + `"><h4>نام مقطع</h4></label>
                    <input type="text" placeholder="" id="NewBranchRankName` + RanksCount + `" name="NewBranchRankName` + RanksCount + `" required>

                    <div style="margin-top: 10vh; border: 1px solid grey; border-radius: 5px; padding: 10px;">
                        <label for="NewBranchOri` + RanksCount + `"><h2>گرایش ها</h2></label>
                        <div style="margin-top: 5vh;" id="NewBranchOri` + RanksCount + `" name="NewBranchOri` + RanksCount + `">
                            
                            <label for="NewBranchOriName` + RanksCount + `0"><h4>نام گرایش</h4></label>
                            <input type="text" placeholder="" id="NewBranchOriName` + RanksCount + `0" name="NewBranchOriName` + RanksCount + `0" required>

                        </div>
                        <input type="button" style="width: 30%; height: 8%; margin: 10px 35% 10px 35%;" onclick="newOri('` + RanksCount + `')" id="newOriBtn" value="اضافه کردن گرایش جدید" class="btn"/>   
                    </div>`;
                document.getElementById("NewBranchRanks").appendChild(div);
                OriCount[RanksCount] = 1;
                RanksCount++;
                OriCount[RanksCount] = 0;
            }

            function newOri() {
                var div = document.createElement('div');
                div.innerHTML = `
                <label for="NewBranchOriName` + arguments[0] + OriCount[arguments[0]] + `"><h4>نام گرایش</h4></label>
                <input type="text" placeholder="" id="NewBranchOriName` + arguments[0] + OriCount[arguments[0]] + `" name="NewBranchOriName` + arguments[0] + OriCount[arguments[0]] + `" required>`;
                document.getElementById("NewBranchOri" + arguments[0]).appendChild(div);
                OriCount[arguments[0]]++;
            }

            function submitBranchClicked()
            {
                var Data = {"RanksCount" : RanksCount, "OriCount" : OriCount};
                var Ranks=[];
                for(var i=0; i<RanksCount; i++)
                {
                    var Ories=[];
                    for(var j=0; j<OriCount[i]; j++)
                    {
                        Ories.push({index:j, OriName: document.getElementById("NewBranchOriName" + i + j).value});
                    }
                    Ranks.push({index : i});
                    Ranks[i]['RankName'] = document.getElementById("NewBranchRankName" + i).value;
                    Ranks[i]['Orientations'] = Ories;
                }
                Data['Ranks'] = Ranks;
                Data['BranchName'] = document.getElementById("NewBranchName").value;
                var xp = new XMLHttpRequest();
                xp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        alert(this.responseText);
                    }
                };
                xp.open("POST", "/SetNewBranch");
                xp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xp.send("Data="+JSON.stringify(Data));
            }

            function DegreeBranchEditEvent()
            {

            }

            function submitDelBranchClicked()
            {
                if (confirm('آیا مطمئنید که میخواهید این مدرک را حذف کنید؟؟؟')) {
                    var xp = new XMLHttpRequest();
                    xp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            alert(this.responseText);
                        }
                    };
                    xp.open("POST", "/removeBranch");
                    xp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xp.send("Data="+JSON.stringify({id:Number(document.getElementById("DegreeBranchEdit").value)}));
                }
            }
        </script>
    </body>
</html>